<h3>Prefilled fields</h3>

<p>This page describe how a third-party app can fill a registration form by calling MOKA External API, so the user can just simply click "continue" button</p>
<div>
  <label>Name</label>
  <input type='text' value='<%= @profile['first_name'] %> <%= @profile['last_name'] %>'/>
  <br/><br/>
</div>

<div>
  <label>Email</label>
  <input type='text' value='<%= @profile['email'] %>'/>
  <br/><br/>
</div>

<div>
  <label>Phone No</label>
  <input type='text' value='<%= @business['phone'] %>'/>
  <br/><br/>
</div>

<div>
  <label>City</label>
  <input type='text' value='<%= @business['city'] %>'/>
  <br/><br/>
</div>

<div>
  <br/><br/><br/>
  <a href='<%= root_path %>' class="btn-login-with-moka">Continue to list of APIs</a>
</div>